// This project was put together as part of a capstone project for School of Public Service at DePaul University
// This site uses a template designed by OpenCity.org that takes google fusion tables and maps it
// State payment data is from a FOIA request made to the State of Illinois Comptroller 
// You can contact the owner of this site on twitter @GovinTrenches

- content_for :javascripts do
  = include_javascript :mustache
  = include_javascript "http://maps.google.com/maps/api/js?sensor=false" 
  = include_javascript :fusion_library
  = include_javascript :open_city

  :javascript
    (function() {
      var us_centroid = new google.maps.LatLng(41.850033, -87.6500523);
      var tableId = "1wbmkAeFa-MYAwZ39FlgcesTJ8ti3e4oZfsrqesA"; // Table linking to State payment data to nonprofits
      //var tableId = "1141224"
      var filters = [
        {"Service":  {columns: ["Type"],  type: "checkbox"}}
        
      ];

      map = new Fusion.Map("template_map", {center: us_centroid, zoom: 11, mapTypeControl: true});

      var layer2 = map.layers.create({select: "geometry", from: "1lqKXJ_V3yAm7XpsuVYD_UTXwvxHDf54GHzpYOMI"}); //hunger map
      var layer3 = map.layers.create({select: "geometry", from: "1yEDKyyMb8Y2HPv4gAVa77wHe370D5cwGx48y_aU"}); //cta
      var layer1 = map.layers.create({select: "geometry", from: tableId}); //social services map derived from state of illinois data
      
      map.present();

      filterPanel = new OpenCity.Template.FilterPanel(tableId, filters, {
        map: map, callbackObject: "filterPanel"
      });
      //filterPanel.present(); <- Filter panel hidden because it's not working - Google changed API
    })(); 



.row-fluid
  .span3
    #filters
    %p<
      Cash Assistance - Large Purple
    %p<  
      Closed - Large Red
    %p<
      Family Services - Small Red
    %p<
      Housing - Small Yellow
    %p<
      Hunger - Small Green
    %p<
      Medical - Small Blue
    %p<
      Mental Health - Large Green
    %p<
      Multiple - Large Blue
    %p<
      Referral - Large Yellow
    %p< 
      Substance Abuse - Large Purple
    %p< 
      Youth Program - Small Purple
    %p<
    %p
      %b State Payment Data to Non-Profit Social Service Providers 
      = link_to 'here', 'https://www.google.com/fusiontables/DataSource?snapid=S51080177X6'
    %p<
      %b The City of Chicago's data from metrochicagodata.org was used to determine payments to social non-profits
    %p
      %b City Payment Data to Non-Profit Social Service Providers 
      = link_to 'here', 'https://docs.google.com/spreadsheet/ccc?key=0Ai6V_YElwVP5dEU0VkY0NTdJT3VyR0ZqRnNHeTJsbmc'
    %p<
      %b Demographic and food insecurity information was initially mapped by Juan-Pablo Valez. You can find the original page below.
    %p
      = link_to 'The Geography of Hunger', 'http://www.chicagonewscoop.org/chicago/wp-content/maps/hunger/'
    %p


    
  #template_map.span9


