// Project that aims to showcase poverty in Chicago by creating a CTA map 
// You can contact the owner of this site on twitter @GovinTrenches

- content_for :javascripts do
  = include_javascript :mustache
  = include_javascript "http://maps.google.com/maps/api/js?sensor=false" 
  = include_javascript :fusion_library
  = include_javascript :open_city

  :javascript
    (function() {
      var us_centroid = new google.maps.LatLng(41.850033, -87.6500523);
      var tableId = "1wbmkAeFa-MYAwZ39FlgcesTJ8ti3e4oZfsrqesA"; // Table linking to State payment data to nonprofits
      //var tableId = "1141224"
      var filters = [
        {"Service":  {columns: ["Type"],  type: "checkbox"}}
        
      ];

      map = new Fusion.Map("template_map", {center: us_centroid, zoom: 11, mapTypeControl: true});

      
      var layer1 = map.layers.create({select: "geometry", from: "1g_pCtB0sShNYwp-RxcSSJEF_T5Ni7aXPEkKrXII"}); //hardship map
      var layer2 = map.layers.create({select: "geometry", from: "1yEDKyyMb8Y2HPv4gAVa77wHe370D5cwGx48y_aU"}); //cta
      var layer3 = map.layers.create({select: "geometry", from: "1X8nHZNuXJQrpABeqsKRFpKj5GVrOEgB-RkBLgXE"}); //cta station map with hardship data filtered
      var layer4 = map.layers.create({select: "geometry", from: "1dA7O9HQ8XtK9R5i3-wu2B4cGNSYIbYNggH-rON8"}); //metra lines
      // var layer5 = map.layers.create({select: "geometry", from: "1qG7aqtFp7ZKR-b6B7ot6Mi_V4zZbKP2O1egPEng"}); //metra stations
      
      
      
      map.present();

      filterPanel = new OpenCity.Template.FilterPanel(tableId, filters, {
        map: map, callbackObject: "filterPanel"
      });
      //filterPanel.present(); <- Filter panel hidden because it's not working - Google changed API
    })(); 

// Google Tacking to come later - nulling code for now 
// Google Analytics ID UA-32663273-1
// :javascript
//  var _gaq = _gaq || [];
//   _gaq.push(['_setAccount', 'UA-32663273-1']);
//   _gaq.push(['_trackPageview']);

//    (function() {
//    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
//  })();


.row-fluid
  .span3
    #filters
    
    %p< This map is a modified Chicago CTA Map where all the lines and CTA stations are present.
    %p< The map divides the city into the 77 community areas. These areas are colored based on the hardship index. The greater the hardship index, the darker it appears on the map.
    %p< The station locations show green for stations in community areas where the median income is above the poverty line for a family of four ($23,018)   or red if below this line. 
    %p<
        Information on poverty, crowded housing, employment and harship provided by the City of Chicago. 
      = link_to ' See it here', 'https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2'
    %p


    
  #template_map.span9



